RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
TICKETING_PORT=8001
VENUE_PORT=8002
ARTIST_PORT=8003
PAYMENT_PORT=8004
NOTIFICATION_PORT=8005
